{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver",
    {
      "alias": {
        "@server": "./server",
        "@test": "./test",
        "@config": "./config",
        "@development": "./development",
      }
    }]
  ]
}
